<div class=”counter-wrapper”>
 <h1 style="color:blue;">Counter</h1>
 <p>This is a simple demonstration of using 
 webpacker with react and rails hit + to add and - to subtract </p>
 
 <form class=’counter’>
 
 </form>
